/* ----------------Social Box Start--------------------- */
.heading-hero{
    font-family: Lexend;
font-size: 65px;
font-weight: 600;
line-height: 80px;
letter-spacing: 0em;
text-align: left;

}
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #E4E7EC;
    border-radius: 10px;
    background-color: white;
    width: 60%;
  }
  .product-heading{
    font-family: Lexend;
font-size: 36px;
color: #344054;
  }

  .discription h3{
    font-family: Lexend;
font-size: 16px;
color: #98A2B3;

  }
  .discription h2{
    color: #667085;
    font-family: Lexend;
    font-size: 24px;
    font-weight: 300;

  }
  .main-section{
    background: #F1F3F7;

  }
  .radial-background {
    /* background: radial-gradient(ellipse at center, rgba(26, 137, 236, 0.08) 0%, rgba(26, 137, 236, 0) 50%), #1A89EC26; */
    background-size: 20% 100%; /* Adjust the width and height values as needed */
    background-position: center;
}
  
  .search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: white;
    margin-left: 20px;
  }
  .search-input::placeholder{
    color: #D0D5DD;
    font-family: Lexend;
font-size: 18px;

  }
  .search-button {
    background-color: #007bff;
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding: 8px 12px;
    cursor: pointer;
    color: white;
  }
  
  .search-button i {
    font-size: 16px;
  }
  
.subHeading-hero{
    font-family: Lexend;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #98A2B3;

}
.Social .main-heading {
    font-family: Lexend;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #344054;
}
.img-container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.background-image {
    position: absolute;
    margin-top: -90px;
    width: 50%;
    height: 117%;
    background-image: url("/public/images/Rectangle.png");
    background-size: cover;
    z-index: 1;
  }
  
  .circle-container {
    position: relative;
    display: inline-block;
  }
  
  .star-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .car-img {
   z-index: 3;
    margin-top: -60px; /* Adjust as needed */
  }
  
.Social .box {
    background-color: #EAEAEA;
    border-radius: 30px;
    padding: 20px;
}

.Social .box .box-inner {
    border: 1px dotted #FCFCFD;
    padding: 100px 15px 30px 15px;
}

.Social .box .box-inner h2 {
    font-family: Lexend;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #FCFCFD;
}

.Social .box .box-inner p {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FCFCFD;
}

.Social .box .box-inner button {
    background-color: #344054;
    font-family: Lexend;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FCFCFD;
    border-radius: 0%;
    padding: 10px 20px 10px 20px;

}

/* ----------------Social Box End--------------------- */
/* ---------------Social About start--------------------- */

.Social .about .about-inner{
   padding-right: 52px;
}

.Social .about h1 {
    font-family: Lexend;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #344054;
}

.Social .about h2 {
    font-family: Lexend;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #344054;
}

.Social .about p {
    font-family: Lexend;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #344054;
}
.Social .small-box{
  background-color: #E3E6E9;
  border-radius: 30px;
  padding: 30px 100px 30px 100px
 
  
}
.Social .small-box .small-box-inner p{
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #344054;
}

@media (max-width: 996px) {
    .Social .main-heading {
        font-size: 40px;
        font-weight: 500;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
        color: #344054;
    }
    .Social .box .box-inner h2 {
        font-family: Lexend;
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
        color: #FCFCFD;
    }
   
    .Social .box .box-inner p {
        font-family: Lexend;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: #FCFCFD;
    }

    .Social .about h1 {
        font-family: Lexend;
        font-size: 40px;
        font-weight: 500;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
        color: #344054;
    }
    .Social .about h2 {
        font-family: Lexend;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
        color: #344054;
    }
    .Social .about p {
        font-family: Lexend;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        color: #344054;
    }
}